@using FruitApp.Entities;


<table>

    <tr>
        <td>Name</td>
        <td>@Model.Name</td>

    </tr>

    <tr>
        <td>Price</td>
        <td>@Model.Price</td>

    </tr>

    <tr>
        <td>Taste</td>
        <td>@Model.Taste</td>

    </tr>

    <tr>
        <td>Colour</td>
        <td>@Model.Colour</td>

    </tr>

    <tr>
        <td>Quantity</td>
        <td>@Model.Quantity</td>

    </tr>

</table>